################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Q&APlatform/bin/Debug/net8.0
/.vs/Q&APlatform
/.vs/ProjectEvaluation/q&aplatform.metadata.v7.bin
/.vs/ProjectEvaluation/q&aplatform.projects.v7.bin
/Q&APlatform/obj

.fake
Q&APlatformUnittests/obj/project.assets.json
Q&APlatformUnittests/obj/project.nuget.cache
Q&APlatformUnittests/obj/Q&APlatformUnittests.csproj.nuget.dgspec.json
.gitignore
Q&APlatformUnittests/obj/Q&APlatformUnittests.csproj.nuget.g.props
Q&APlatformUnittests/obj/Q&APlatformUnittests.csproj.nuget.g.targets
Q&APlatformUnittests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Q&APlatformUnittests/obj/Debug/net8.0/Q&APlatformUnittests.AssemblyInfo.cs
Q&APlatformUnittests/obj/Debug/net8.0/Q&APlatformUnittests.AssemblyInfoInputs.cache
Q&APlatformUnittests/obj/Debug/net8.0/Q&APlatformUnittests.assets.cache
Q&APlatformUnittests/obj/Debug/net8.0/Q&APlatformUnittests.csproj.AssemblyReference.cache
Q&APlatformUnittests/obj/Debug/net8.0/Q&APlatformUnittests.GeneratedMSBuildEditorConfig.editorconfig
Q&APlatformUnittests/obj/Debug/net8.0/Q&APlatformUnittests.GlobalUsings.g.cs
